<!-- saveguard_app/templates/home.html -->

{% extends 'base.html' %}

{% block title %}Home - SaveGuard{% endblock %}

{% block content %}
    <!-- <section>
        <h2>Welcome to SaveGuard!</h2>
        <p>SaveGuard is a Palworld Preservation Protocol that ensures your game save data remains safe and secure.</p>
        <p>Click the links below to navigate:</p>
    <ul>
        <li><a href="{% url 'settings' %}">Settings</a></li>
        Add links to other pages here
    </ul>
    </section> -->
{% endblock %}
